body {
    text-align: center;
}

.color-btn-container {
    display: flex;
    margin: 50px;
    justify-content: center;}


.color-btn {
    margin: 0 25px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    opacity: 0.4;
}

#yellow {
background-color: yellow;
border-radius: 100px 15px 15px 15px;
}
#blue {
background-color: blue;
border-radius: 15px 100px 15px 15px;
}
#red {
background-color: red;
border-radius: 15px 15px 15px 100px;
}
#green {
background-color: green;
border-radius: 15px 15px 100px 15px;
}